/* 
    Definitions of root elements and classes used trouought the project.
    
    © 2020 Shannarra (Petar Angelov) All Rights Reserved.
    https://github.com/Shannarra
    https://petarangelov.com
*/

:root {
    --color-green: green;
    --color-red: red;
    --color-blue: blue;
    --color-yellow: yellow;
    --color-bg-nav: #343a40;
    --color-text-nav: white;
    --color-text-nav-hover: #b9b1b1;
    --bord-debug: 1px solid red;/* border for debugging */
}

.title { font-size: 2em; }

.title-centered {
    font-size: 3em;
    text-align: center;
    padding: 15px 5px;
}

.text-centered { text-align: center; }
.text-left { text-align: left;}

.bg-green { background-color: var(--color-green); }
.bg-red { background-color: var(--color-red); }
.bg-blue { background-color: var(--color-blue); }
.bg-yellow { background-color: var(--color-yellow); }
.bg-dark { 
    background-color: var(--color-bg-nav);
    color: var(--color-text-nav);
}

.text-white { color: #fff; }
.text-base { color: #000; }
.text-success { color: var(--color-green); }
.text-blue { color: var(--color-blue); }
.text-warn { color: var(--color-yellow); }
.text-danger {color: var(--color-red);}

/* text sizes*/
.text-small { font-size: 0.5em; }
.text-normal { font-size: 1em; }
.text-bigger { font-size: 1.5em; }
.text-big { font-size: 2em; }
.text-large { font-size: 3em; }

.center {
    display:flex;
    align-items:center;
}


footer {
    position: static;
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    footer {
        height: 100%;
    }
}